@font-face {
  font-family: 'IM_Hyemin';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 글로벌 폰트 적용 */
body {
  font-family: 'IM_Hyemin', sans-serif;
}

/* 버튼 등에도 글로벌 폰트를 강제 적용 */
button,
.btn {
  font-family: 'IM_Hyemin', sans-serif;
}