@font-face {
    font-family: 'GangwonEdu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 글로벌 폰트 적용 */
body {
  font-family: 'GangwonEdu', sans-serif;
}

/* 버튼 등에도 글로벌 폰트를 강제 적용 */
button,
.btn {
  font-family: 'GangwonEdu', sans-serif;
}